{% set serviceName = 'Working in adult social care' %}
{% set brand = data['brand'] or '4' %}

{% extends "layouts/v4/layout-care-brand-" + brand + ".html" %}

{% block pageTitle %}
  Care Workers: Knowledge and skills
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../careers"
    },
    {
      text: "Professional development",
      href: "../careers"
    },
    {
      text: "Career pathways",
      href: "../cwp"
    },
    {
      text: "Care or support workers"
    }
  ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">Role category B</span>
      <h1 class="govuk-heading-xl nhsuk-u-margin-bottom-3">Care or support workers</h1>

      <nav class="x-govuk-secondary-navigation nhsuk-u-margin-bottom-6" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
          <li class="x-govuk-secondary-navigation__list-item ">
            <a class="x-govuk-secondary-navigation__link" href="./" aria-current="page">
              About these job roles
            </a>
          </li>
          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" href="requirements">
              Knowledge and skills
            </a>
          </li>
          <li class="x-govuk-secondary-navigation__list-item ">
            <a class="x-govuk-secondary-navigation__link" href="development">
              Areas of specialism
            </a>
          </li>
          <li class="x-govuk-secondary-navigation__list-item ">
            <a class="x-govuk-secondary-navigation__link" href="courses">
              Qualifications and courses
            </a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">The knowledge and skills of care or support workers</h2>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>As a care or support worker in adult social care you should have these knowledge and skills to do your job.</p>
      <p>You can get these knowledge and skills by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>getting experience as you work</li>
        <li>doing a qualification or course</li>
        <li>watching other people or shadowing them</li>
      </ul>
    </div>
  </div>

<div data-module="govuk-tabs">

  <div class="govuk-grid-row govuk-tabs--right">
    <div class="govuk-grid-column-one-third">

      {# render left side tabs #}

      <ol class="nhsuk-list nhsuk-list--number govuk-list--spaced govuk-tabs__list govuk-tabs__list--right">
        {% for i in range(0, categories.length) -%}
        <li class="govuk-tabs__list-item govuk-tabs__list-item--right govuk-tabs__list-item--selected" role="presentation">
          <a href="#skill{{ i+1 }}" class="govuk-tabs__tab" id="tab_skill{{ i+1 }}" role="tab" aria-controls="skill{{ i+1 }}" aria-selected="true" tabindex="-1">{{ categories[i] }}</a>
        </li>
        {%- endfor %}
      </ol>
    </div>

    <div class="govuk-grid-column-two-thirds">

      {# render right side content #}

      {% for i in range(0, categories.length) -%}

      <div class="govuk-tabs__panel govuk-tabs__panel--right nhsuk-u-padding-left-5" role="tabpanel" aria-labelledby="tab_skill{{i+1}}" id="skill{{i+1}}">
        <h2 class="govuk-heading-l">{{ categories[i] }}</h2>

        {% for n in range(0, data.skillsCats.length) -%}
          {% if data.skillsCats[n].category === categories[i] and data.skillsCats[n].role === 'roleb' %}
            {{ data.skillsCats[n].description|safe }}
          {% endif %}
        {%- endfor %}

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Skills breakdown
          </span>
          </summary>
          <div class="nhsuk-details__text">
            <h3 class="govuk-heading-s">You should:</h3>

            <ul class="nhsuk-list  nhsuk-list--tick">

              {% for j in range(0, data.skillsCats.length) -%}
                {% if data.skillsCats[j].category === categories[i] and data.skillsCats[j].role === 'roleb' %}
                  {% for m in range(0, data.skillsCats[j].skills.length) -%}

                  <li><svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                    <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                  </svg>{{ data.skillsCats[j].skills[m].skill }}</li>

                  {%- endfor %}
                {% endif %}
              {%- endfor %}
            </ul>
          </div>
        </details>

        {# check if there are any skills #}
        {# loop the ones for this role and skills categories #}
        {% set count = [] %}
        {% for k in range(0, data.training.length) -%}
        {% if categories[i] in data.training[k].skillsCat and 'roleb' in data.training[k].roleCat %}
        {% set count = (count.push(k), count) %}
        {% endif %}
        {%- endfor %}

        {% if count.length >= 1 %}
        <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6">Training opportunities ({{ count.length }})</h3>

        <ul class="govuk-grid-row nhsuk-card-group">
          {% for l in range(0, count.length) -%}
          <li class="govuk-grid-column-full nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
              <div class="nhsuk-card__content nhsuk-card__content--secondary">
                <h2 class="nhsuk-card__heading nhsuk-heading-s">
                  <a class="nhsuk-card__link" href="{{ data['training'][count[l]].link or '#' }}" target="_blank">{{ data['training'][count[l]].title }}</a>
                </h2>
                <ul class="govuk-list">
                  <li><span class="govuk-body govuk-!-font-weight-bold">Provider:</span> {{ data['training'][count[l]].awardingOrganisation }}</li>
                  <li>
                    <span class="govuk-body govuk-!-font-weight-bold">Duration:</span>
                    <span id="start-date"> {{ data['training'][count[l]].totalLearningTime }}</span>
                  </li>
                  <li><span class="govuk-body govuk-!-font-weight-bold">Location:</span> {{ data['training'][count[l]].type }}</li>
                </ul>
              </div>
            </div>
          </li>
          {%- endfor %}
        </ul>
        {% endif %}

      </div>
      {%- endfor %}

    </div>
  </div>
</div>

<p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
  Page last updated: 15 March 2024. <br><a href="#"> Notify me when this page changes</a>
</p>

<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--previous">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="./">
        <span class="nhsuk-pagination__title">Previous</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">About these job roles</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
        </svg>
      </a>
    </li>
    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="development">
        <span class="nhsuk-pagination__title">Next</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Areas of specialism</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}
