{% if emailLink2 %}
<div class="proto-action-2">
  <a href="{{ emailLink2 }}">
    <div class="proto-action-icon"></div>
    <div class="proto-action-text">Email sent</div>
  </a>
  <br>
</div>
{% endif %}

{% if emailLink %}
<div class="proto-action">
    <a href="{{ emailLink }}">
        <div class="proto-action-icon"></div>
        <div class="proto-action-text">Email sent</div>
    </a>
  <br>
</div>
{% endif %}

{% if smsLink %}
  <div class="proto-action">
    <a href="{{ smsLink }}">
      <div class="proto-action-icon"></div>
      <div class="proto-action-text">SMS sent</div>
    </a>
    <br>
  </div>
{% endif %}

<div class="proto-error">
  <div class="">
    <div class="proto-action-icon"></div>
    <div class="proto-action-text">Content:</div>

    <form style="display:inline-block;vertical-align:top;" action="switch" method="post">
      <input type="hidden" name="target" value="a" />
      <button href="" class="proto-error-text {% if data['target'] === 'a' %}active{% endif %}">A</button>
    </form>

    <form style="display:inline-block;vertical-align:top;" action="switch" method="post">
      <input type="hidden" name="target" value="b" />
      <button href="" class="proto-error-text {% if data['target'] === 'b' %}active{% endif %}">B</button>
    </form>
  </div>

  <div class="">
    <div class="proto-action-icon"></div>
    <div class="proto-action-text">Branding:</div>

    <form style="display:inline-block;vertical-align:top;" action="switchbrand" method="post">
      <input type="hidden" name="brand" value="1" />
      <button href="" class="proto-error-text-small {% if data['brand'] === '1' %}active{% endif %}">1</button>
    </form>

    <form style="display:inline-block;vertical-align:top;" action="switchbrand" method="post">
      <input type="hidden" name="brand" value="2" />
      <button href="" class="proto-error-text-small {% if data['brand'] === '2' %}active{% endif %}">2</button>
    </form>

    <form style="display:inline-block;vertical-align:top;" action="switchbrand" method="post">
      <input type="hidden" name="brand" value="3" />
      <button href="" class="proto-error-text-small {% if data['brand'] === '3' %}active{% endif %}">3</button>
    </form>

    <form style="display:inline-block;vertical-align:top;" action="switchbrand" method="post">
      <input type="hidden" name="brand" value="4" />
      <button href="" class="proto-error-text-small {% if data['brand'] === '4' %}active{% endif %}">4</button>
    </form>
  </div>

</div>