{% extends "layouts/layout-care-plain.html" %}

{% block pageTitle %}
New to CareNew to CareNew to CareNew to CareNew to Care: Overview
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../"
    },
    {
      text: "Professional development",
      href: "#"
    },
    {
      text: "New to care",
      href: "#"
    }
  ]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l nhsuk-u-margin-bottom-3">New to Care</h1>

      <nav class="nhsuk-navigation nhsuk-navigation--internal" id="header-navigation" role="navigation" aria-labelledby="contentsmenulabel">
        <h2 id="contentsmenulabel" class="nhsuk-u-visually-hidden">Contents</h2>
        <ul class="nhsuk-header__navigation-list">
          <li class="nhsuk-header__navigation-item">
            <a class="nhsuk-header__navigation-link" href="./">
              Overview
            </a>
          </li>
          <li class="nhsuk-header__navigation-item">
            <a class="nhsuk-header__navigation-link" href="requirements">
              Requirements of this role
            </a>
          </li>
          <li class="nhsuk-header__navigation-item">
            <a class="nhsuk-header__navigation-link" href="development">
              Areas for development
            </a>
          </li>
          <li class="nhsuk-header__navigation-item">
            <a class="nhsuk-header__navigation-link" href="opportunities">
              Promotion opportunities
            </a>
          </li>
          <li class="nhsuk-header__navigation-item">
            <a class="nhsuk-header__navigation-link active" href="courses">
              Qualifications and courses
            </a>
          </li>
        </ul>
      </nav>

      <h2 class="govuk-heading-m">Qualifications and courses</h2>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <img style="width: 100%;" src="/public/images/care-worker.jpg" alt="Department of Heath and Social Care">

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-s">Description of the role</h3>

      <p>This role supports people who draw on care and support to be able to live their lives.  This may involve aspects of personal care, support with everyday life or supporting them to live independently.  This role could be across a variety of settings, delivering care and support in people’s own homes, in a residential setting or through supported independent living.</p>

    </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% set caseStudyHtml %}
    <h2 class="govuk-heading-m">Case study - Paul</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <p>Paul recognises the value in the previous training and development he has done during his time as a care worker and begins to think about what further learning and development he wants to complete. During his time as a care worker, he has done his Care Certificate qualification and previously chose to develop his skills and knowledge in dementia care to better support the people living in the care home.</p>
        <p>Paul has his year one appraisal and speaks to his manager about what his next steps could be as part of his learning and development. His manager recommends the Level 3 Diploma in Adult Care as a way for him to further grow his knowledge and skills and, after agreeing with Paul that he wants to do it, makes arrangements for him to start this qualification.</p>
        <p>His training provider maps his previous learning that he has done against the Level 3 qualification he wants to undertake so that he doesn’t have to repeat any previous learning. He is given an individual learning plan that he will follow until he completes the qualification. He chooses a number of optional units for himself that he can use within his specific practice and setting.</p>
        <p>As Paul works through completing the qualification in his current role, he consolidates his learning embedding it into his practice and showing how he is delivering high-quality person-centred care. In Paul’s ongoing role as a care worker, he will maintain continous professional development by undertaking learning and development which he can use to support the people living in the care home.</p>
        <p>Paul has recently received additional training to carry out a delegated healthcare activity for one of the people he supports. The healthcare activity has been delegated to him by a Registered Nurse from the local community nursing team who remains accountable for the decision to delegate in the person’s best interest, even though it is Paul who is carrying out the activity.  He is carrying out Percutaneous Endoscopic Gastrostomy (PEG) feeds, by following the Care Plan and the training he has been given, ensuring he continues to deliver safe and person-centred care. The delegated healthcare and clinical safety is monitored by the Registered Nurse who retains accountability and responsibility of the activity.</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <img style="width: 100%;" src="/public/images/care-worker-2.jpg" alt="Department of Heath and Social Care">
      </div>
    </div>
    {% endset -%}

    {% set valuesHtml %}
    <h2 class="govuk-heading-m">
    <p>Values are the golden thread underpinning behaviours.</p>

    {{ govukInsetText({
    html: "<a href=\"#\">Read more about the sector values</a>.",
    classes: "govuk-inset-text--green"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Respect</th>
            <td class="govuk-table__cell">Treat me, the people around me and where I live with respect. Respect my values and my choices about the life I want to lead, and respect your role to value and uphold my goals</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">See the whole person</th>
            <td class="govuk-table__cell">Be curious and listen carefully to understand the unique person I am with strengths, abilities and aspirations. Make plans and decisions about me, with me</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Honest, trustworthy and reliable</th>
            <td class="govuk-table__cell">Be honest, trustworthy and reliable so you turn up when you say you will and provide the care and support we have agreed. Be discreet and confidential to build up a trusting relationship between us</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Kind, compassionate and empathetic</th>
            <td class="govuk-table__cell">Be kind, compassionate and empathetic so you can see things from my point of view, with concern for what matters to me, my wellbeing and health</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Courageous and principled</th>
            <td class="govuk-table__cell">Show strength, courage and commitment to speak out if something isn’t right or could be better, and to step back when I am exercising my choice and control. Act according to principles of human rights, equity and inclusion as well as my personalised care and support plan amending</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Flexible, open and learning</th>
            <td class="govuk-table__cell">Be reflective, open and non-judgmental so we can learn and adapt how we work together in the longer term</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Proud and positive</th>
            <td class="govuk-table__cell">Take pride in your work and have a friendly, positive and proactive attitude so we can enjoy spending time together</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    {% endset -%}

    {% set behavioursHtml %}
    <h2 class="govuk-heading-m">Core behaviours</h2>
    <p>Behaviours are the way that values are demonstrated in practice. These are the behaviours required to work as a Care worker. These are the things people must be doing in their job.</p>
    <p>All behaviours should be delivered in the context of person-centred care and co-production.</p>
    </p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ol class="govuk-list govuk-list--number govuk-list--spaced">
          <li>Treat all individuals equitably and with a professional manner in the workplace.</li>
          <li>Take responsibility for own actions, demonstrating resilience, determination and impartiality when managing difficult situations.</li>
          <li>Build and maintain positive relationships with others and seek their views when needed.</li>
          <li>Take an organised approach to time-sensitive tasks, and act in an open and approachable when completing tasks with others.</li>
          <li>Be open to new digital knowledge and skills which may enhance performance in the care sector.</li>
          <li>Act in a flexible, creative, innovative and proactive way when problem solving, taking account of best practice.</li>
          <li>Be adaptable and act in an open and responsive way to feedback.</li>
          <li>Be caring, compassionate and empathetic towards others, acknowledging the differences between individuals.</li>
        </ol>
      </div>
    </div>


    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Case study",
          id: "past-day",
          panel: {
            html: caseStudyHtml
          }
        },
        {
          label: "Values",
          id: "past-week",
          panel: {
            html: valuesHtml
          }
        },
        {
          label: "Behaviours",
          id: "past-month",
          panel: {
            html: behavioursHtml
          }
        }
      ]
    }) }}

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        Page last updated: 15 March 2024. <br><a href="#"> Notify me when this page changes</a>
      </p>

      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="opportunities">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Promotion opportunities</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li>
<!--          <li class="nhsuk-pagination-item&#45;&#45;next">-->
<!--            <a class="nhsuk-pagination__link nhsuk-pagination__link&#45;&#45;next" href="requirements">-->
<!--              <span class="nhsuk-pagination__title">Next</span>-->
<!--              <span class="nhsuk-u-visually-hidden">:</span>-->
<!--              <span class="nhsuk-pagination__page">Requirements of this role</span>-->
<!--              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">-->
<!--                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>-->
<!--              </svg>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </nav>

  </div>
</div>



{% endblock %}
