// secondary navigation

.x-govuk-secondary-navigation {
  //font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}
@media print {
  .x-govuk-secondary-navigation {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .x-govuk-secondary-navigation {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .x-govuk-secondary-navigation {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.x-govuk-secondary-navigation__link {
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1578em;
}
@media print {
  .x-govuk-secondary-navigation__link {
    font-family: sans-serif;
  }
}
.x-govuk-secondary-navigation__link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}
.x-govuk-secondary-navigation__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.x-govuk-secondary-navigation__link:link {
  color: #00594C;
}
.x-govuk-secondary-navigation__link:visited {
  color: #00594C;
}
.x-govuk-secondary-navigation__link:hover {
  color: #171D22;
  text-decoration: underline;
}
.x-govuk-secondary-navigation__link:active {
  color: #00594C;
}
.x-govuk-secondary-navigation__link:focus {
  color: #00594C;
}
.x-govuk-secondary-navigation__link:not(:hover):not(:active) {
  text-decoration: none;
}
.x-govuk-secondary-navigation__link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.x-govuk-secondary-navigation__list {
  box-shadow: inset 0 -1px 0 govuk-colour("dark-mint-green");
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.x-govuk-secondary-navigation__list::after {
  content: "";
  display: block;
  clear: both;
}

.x-govuk-secondary-navigation__list-item {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 26px;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
}
@media (min-width: 40.0625em) {
  .x-govuk-secondary-navigation__list-item {
    padding-bottom: 15px;
  }
}

.x-govuk-secondary-navigation__list-item:last-child {
  margin-right: 0;
}

.x-govuk-secondary-navigation__list-item--current {
  border-bottom: 5px solid govuk-colour("dark-mint-green");
  padding-bottom: 5px;

}
@media (min-width: 40.0625em) {
  .x-govuk-secondary-navigation__list-item--current {
    padding-bottom: 10px;
  }
}

.x-govuk-secondary-navigation__list-item--current .x-govuk-secondary-navigation__link:link,
.x-govuk-secondary-navigation__list-item--current .x-govuk-secondary-navigation__link:visited {
  color: #0b0c0c;
}