// wrappers

.careuk-main-wrapper--nav {
  background-color: #FFFFFF;
  background-color: govuk-colour("pale-green");
  padding-bottom: 0;
  border-bottom: none;
}
@media (min-width: 40.0625em) {
  .careuk-main-wrapper--nav {
    background-color: #FFFFFF;
    border-bottom: 2px solid #33BDA9;
  }
}
@media (min-width: 61.875em) {
  .careuk-main-wrapper--nav {
    background-color: #FFFFFF;
    border-bottom: 2px solid #33BDA9;
  }
}


.careuk-main-wrapper--green {
  padding-top: 50px;
  background-color: govuk-colour("pale-green");
}

.govuk-main-wrapper--bread {
  background-color: govuk-colour("pale-green");
  padding: 0;
}

.govuk-main-wrapper--bread-white {
  background-color: #fff;
  padding: 0;
}

// breadcrumbs overide

.careuk-breadcrumbs {
  margin: 0;
  padding-top: 15px;
  .govuk-main-wrapper & {
    background-color: #FFFFFF;
  }
}

.careuk-breadcrumbs--green {
  margin: 0;
  padding-top: 15px;
  .govuk-main-wrapper & {
    background-color: govuk-colour("pale-green");
  }
}

// secondary navigation

.careuk-secondary-nav {
  //font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}
@media print {
  .careuk-secondary-nav {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .careuk-secondary-nav {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .careuk-secondary-nav {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.careuk-secondary-nav__link {
  text-decoration: underline;
  padding: 14px 20px 16px;
  .careuk-secondary-nav__list-item--current & {
    text-decoration: none;
    background-color: govuk-colour("pale-green");
    //border: 2px solid govuk-colour("dark-mint-green");
    //border-bottom: none;
    &:before {
      content: "";
      position: absolute;
      top: 4px;
      bottom: 0;
      left: 0;
      margin: auto;
      display: block;
      width: 0;
      height: 0;
      color: govuk-colour("middle-strong-green");
      border-style: solid;
      border-color: transparent;
      -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
      border-width: 6px 0 6px 10.124px;
      border-left-color: inherit;
    }
  }
}

@media (min-width: 40.0625em) {
  .careuk-secondary-nav__link {
    text-decoration: underline;
    height: 100%;
    display: block;
    padding: 10px;
    .careuk-secondary-nav__list-item--current & {
      text-decoration: none;
      background-color: govuk-colour("pale-green");
      border: 2px solid govuk-colour("dark-mint-green");
      border-bottom: none;
      &:before {
        display: none;
      }
    }
  }
}
@media (min-width: 61.875em) {
  .careuk-secondary-nav__link {
    text-decoration: underline;
    display: inline;
    height: unset;
    padding: 14px 20px 16px;
    .careuk-secondary-nav__list-item--current & {
      text-decoration: none;
      background-color: govuk-colour("pale-green");
      border: 2px solid govuk-colour("dark-mint-green");
      border-bottom: none;
      &:before {
        display: none;
      }
    }
  }
}


@media print {
  .careuk-secondary-nav__link {
    font-family: sans-serif;
  }
}
.careuk-secondary-nav__link:hover {
  text-decoration: underline;
}
.careuk-secondary-nav__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.careuk-secondary-nav__link:link {
  color: #000;
}
.careuk-secondary-nav__link:visited {
  color: #000;
}
.careuk-secondary-nav__link:hover {
  color: #000;
  text-decoration: none;
}
.careuk-secondary-nav__link:active {
  color: #00594C;
  text-decoration: none;
}
.careuk-secondary-nav__link:focus {
  color: #00594C;
}
.careuk-secondary-nav__link:not(:hover):not(:active) {
  //text-decoration: underline;
}
.careuk-secondary-nav__link::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.careuk-secondary-nav__list {
  //box-shadow: inset 0 -1px 0 govuk-colour("dark-mint-green");
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@media (min-width: 40.0625em) {
  .careuk-secondary-nav__list {
    margin-bottom: -2px;
  }
}
@media (min-width: 61.875em) {
  .careuk-secondary-nav__list {
    margin-bottom: 0;
  }
}



.careuk-secondary-nav__list-item {
  position: relative;
  box-sizing: border-box;
  display: block;
  //margin-right: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 10px;
}
@media (min-width: 40.0625em) {
  .careuk-secondary-nav__list-item {
    float: left;
    width: 25%;
    text-align: center;
    vertical-align: bottom;
    height: 5.25rem;
  }
}
@media (min-width: 61.875em) {
  .careuk-secondary-nav__list-item {
    float: left;
    padding-bottom: 12px;
    margin-bottom: 0;
    width: unset;
    height: unset;
  }
}

.careuk-secondary-nav__list-item:last-child {
  margin-right: 0;
}

//.careuk-secondary-nav__list-item--current {
//  border-bottom: 5px solid govuk-colour("dark-mint-green");
//  padding-bottom: 5px;
//
//}
//@media (min-width: 40.0625em) {
//  .careuk-secondary-nav__list-item--current {
//    //padding-bottom: 10px;
//  }
//}