// NHS design system component overrides

.nhsuk-icon__search {
  fill: #005eb8;
}

.nhsuk-icon__chevron-left {
  fill: govuk-colour("dark-green");
}

.nhsuk-icon__chevron-right {
  fill: govuk-colour("dark-green");
}

.nhsuk-icon__close {
  fill: #005eb8;
}

.nhsuk-icon__cross {
  fill: #d5281b;
}

.nhsuk-icon__tick {
  stroke: #007f3b;
}

.nhsuk-icon__arrow-right {
  fill: #005eb8;
}

.nhsuk-icon__arrow-left {
  fill: #005eb8;
}

.nhsuk-icon__arrow-right-circle {
  fill: #007f3b;
}
