{% set serviceName = 'Working in adult social care' %}
{% set brand = data['brand'] or '5' %}
{% set section = 'home' %}

{% extends "layouts/v5/layout-care-brand-" + brand + ".html" %}

{% block pageTitle %}
Working in adult social care - Homepage
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Working on adult social care</h2>

      <p>Content we could place here:</p>
      <ul class="govuk-list--bullet govuk-list">
        <li>Intro to the skills record and CWP</li>
        <li>links out to other care websites</li>
        <li>latest news</li>
      </ul>

    </div>
  </div>

{% endblock %}
