{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">User Research Prototypes</span>
    <h1 class="govuk-heading-xl">Adult Social Care Hub</h1>

    <h2>Currently: In research and development</h2>

    <div class="nhsuk-main-wrapper " id="maincontent" role="main">
      <div class="bulleted-summary-list">
        <div class="relative">
          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v2: Care Workforce Pathway
            </h3>
          </div>
          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-blue"><strong>In design</strong></div>
            <li>
              <p>Prototype v2: WIP</p>

              <p>.</p>
              <a href="/v2/start" class="nhsuk-button nhsuk-u-margin-bottom-3">Go to v2 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">
          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v1: Care Workforce Pathway
            </h3>
          </div>
          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research Complete</strong></div>
            <li>
              <p>Prototype v1: WIP</p>
              <p>Version A: Using wording directly from the SfC guidance document.</p>
              <p>Version B: Introducing GOV.UK style with content based on the SfC guidance document.</p>
              <p>Goes into research on the 18 January 2024.</p>
              <a href="/v1/start" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v1 prototype</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">
    {% include 'includes/links.html' %}
  </div>
</div>

{% endblock %}
