{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">User research prototypes</span>
    <h1 class="govuk-heading-xl">Adult social care hub</h1>

    <h2>Currently in research and development</h2>

    <div class="nhsuk-main-wrapper " id="maincontent" role="main">
      <div class="bulleted-summary-list">
        <div class="relative">
          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v4: care workforce pathway
            </h3>
          </div>
          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-blue"><strong>In Research</strong></div>
            <li>
              <p><strong>Prototype v4 goals</strong></p>
              <p>Researching supplimentary content for knowlege and skills.</p>
              <p>Researching 'Path to Role'. Does it meet the needs of careworkers who are targetting a role. </p>
              <p>Reseaching the links journeys between skills/knowlege outlined in the pathway and training. </p>
              <a href="/v4/start" class="nhsuk-button nhsuk-u-margin-bottom-3">Go to v4 prototype</a>
            </li>
          </ul>
        </div>

        <div class="relative">
          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v3: care workforce pathway
            </h3>
          </div>
          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete</strong></div>
            <li>
              <p><strong>Prototype v3 goals</strong></p>
              <p>Researching supplimentary content for knowlege and skills.</p>
              <p>Researching 'Path to Role'. Does it meet the needs of careworkers who are targetting a role. </p>
              <p>Reseaching the links journeys between skills/knowlege outlined in the pathway and training. </p>
              <a href="/v3/start" class="nhsuk-button nhsuk-u-margin-bottom-3">Go to v3 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">
          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v2: care workforce pathway
            </h3>
          </div>
          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete</strong></div>
            <li>
              <p><strong>Prototype v2 goals</strong></p>

              <p>Further investigation into user complehension of content.</p>

              <a href="/v2/start" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v2 prototype</a>
            </li>
          </ul>
        </div>
        <div class="relative">
          <div class="inline-heading-link">
            <h3 class="nhsuk-heading-m">
              Prototype v1: care workforce pathway
            </h3>
          </div>
          <ul class="nhsuk-list spaced">
            <div class="informative-tab informative-tab-green"><strong>Research complete</strong></div>
            <li>
              <p><strong>Prototype v1 goals</strong></p>
              <p>Version A: Using wording directly from the SfC guidance document.</p>
              <p>Version B: Introducing GOV.UK style with content based on the SfC published pathway on GOV.UK.</p>
              <p>Goes into research on the 18 January 2024.</p>
              <a href="/v1/start" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Go to v1 prototype</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">
    {% include 'includes/links.html' %}
  </div>
</div>

{% endblock %}
