{% extends "layouts/layout-care-plain.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
      {
      text: "Enter your full name",
      href: "#"
      },
      {
      text: "The date your passport was issued must be in the past",
      href: "#"
      }
      ]
      }) }}

      {{ govukBreadcrumbs({
      items: [
      {
      text: "Home",
      href: "#"
      },
      {
      text: "Passports, travel and living abroad",
      href: "#"
      },
      {
      text: "Travel abroad",
      href: "#"
      }
      ]
      }) }}

      <form class="form" action="/path/of/next/page" method="post">

        {% set hintHtml %}
        <p class="govuk-!-margin-top-0">These questions are optional. [Add a couple of sentences explaining why you’re asking the questions and what you’ll do with the information].</p>
        <p>Your answers will not affect your application.</p>
        {% endset -%}

        <h1 class="govuk-heading-l">We have received your application</h1>

        <p class="govuk-body govuk-!-font-weight-regular">govuk-!-font-weight-regular</p>
        <p class="govuk-body govuk-!-font-weight-bold">govuk-!-font-weight-bold</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {% set html %}
        <p class="govuk-notification-banner__heading">Heading</p>
        <p>Body</p>
        {% endset %}

        {{ govukNotificationBanner({
        html: html
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">govuk-body - Before you finish using the service, we’d like to ask some equality questions.</p>

        <p class="govuk-body-l">govuk-body-l</p>
        <p class="govuk-body-s">govuk-body-s</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-font-size-48">govuk-!-font-size-48</p>
        <p class="govuk-body govuk-!-font-size-36">govuk-!-font-size-36</p>
        <p class="govuk-body govuk-!-font-size-27">govuk-!-font-size-27</p>
        <p class="govuk-body govuk-!-font-size-24">govuk-!-font-size-24</p>
        <p class="govuk-body govuk-!-font-size-19">govuk-!-font-size-19</p>
        <p class="govuk-body govuk-!-font-size-16">govuk-!-font-size-16</p>
        <p class="govuk-body govuk-!-font-size-14">govuk-!-font-size-14</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h1 class="govuk-heading-xl">govuk-heading-xl</h1>
        <h2 class="govuk-heading-l">govuk-heading-l</h2>
        <h3 class="govuk-heading-m">govuk-heading-m</h3>
        <h3 class="govuk-heading-s">govuk-heading-s</h3>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <span class="govuk-caption-l">govuk-caption-l</span>
        <h1 class="govuk-heading-l">govuk-heading-l</h1>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{ govukInsetText({
        text: "It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application."
        }) }}

        {{ govukInsetText({
        text: "It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.",
        classes: "govuk-inset-text--red"
        }) }}

        {{ govukInsetText({
        text: "It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.",
        classes: "govuk-inset-text--green"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">Benefits calculators</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Benefit overpayments</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Benefit fraud</a>
          </li>
          <li>
            <a class="govuk-link" href="#">More</a>
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">You can buy:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>apples</li>
          <li>oranges</li>
          <li>pears</li>
        </ul>

        <ol class="govuk-list govuk-list--number">
          <li>Delivery address.</li>
          <li>Payment.</li>
          <li>Confirmation.</li>
        </ol>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{ govukCheckboxes({
        name: "waste",
        fieldset: {
        legend: {
        text: "Which types of waste do you transport?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
        }
        },
        hint: {
        text: "Select all that apply."
        },
        items: [
        {
        value: "carcasses",
        text: "Waste from animal carcasses"
        },
        {
        value: "mines",
        text: "Waste from mines or quarries"
        },
        {
        value: "farm",
        text: "Farm or agricultural waste"
        }
        ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        {{ govukSummaryList({
        rows: [
        {
        key: {
        text: "Name"
        },
        value: {
        text: "Sarah Philips"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "name"
        }
        ]
        }
        },
        {
        key: {
        text: "Date of birth"
        },
        value: {
        text: "5 January 1978"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "date of birth"
        }
        ]
        }
        },
        {
        key: {
        text: "Address"
        },
        value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "address"
        }
        ]
        }
        },
        {
        key: {
        text: "Contact details"
        },
        value: {
        html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
        },
        actions: {
        items: [
        {
        href: "#",
        text: "Add",
        visuallyHiddenText: "contact details"
        },
        {
        href: "#",
        text: "Change",
        visuallyHiddenText: "contact details"
        }
        ]
        }
        }
        ]
        }) }}

        {{ govukRadios({
        name: "equalitiesInfo",
        fieldset: {
        legend: {
        text: "Do you want to answer the equality questions?",
        classes: "govuk-fieldset__legend--m"
        }
        },
        hint: {
        html: hintHtml
        },
        items: [
        {
        value: "yes",
        text: "Yes, answer the equality questions (takes 2 minutes)"
        },
        {
        value: "no",
        text: "No, skip the equality questions"
        }
        ]
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


        {{ govukTable({
        caption: "Dates and amounts",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
        {
        text: "Date"
        },
        {
        text: "Amount"
        }
        ],
        rows: [
        [
        {
        text: "First 6 weeks"
        },
        {
        text: "£109.80 per week"
        }
        ],
        [
        {
        text: "Next 33 weeks"
        },
        {
        text: "£109.80 per week"
        }
        ],
        [
        {
        text: "Total estimated pay"
        },
        {
        text: "£4,282.20"
        }
        ]
        ]
        }) }}


        {{ govukDetails({
        summaryText: "Why we ask equality questions",
        text: "[Consider adding an optional longer explanation of what you’re asking the questions and what you’ll do with the information]."
        }) }}

        {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
        text: "Can you provide more detail?"
        }
        }) }}

        {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
        text: "Can you provide more detail?",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        hint: {
        text: "Do not include personal or financial information, like your National Insurance number or credit card details."
        },
        errorMessage: {
        text: "Enter more detail"
        }
        }) }}

        {{ govukInput({
        label: {
        text: "What is the name of the event?",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        hint: {
        text: "The name you’ll use on promotional material"
        },
        id: "event-name",
        name: "eventName"
        }) }}


      </form>


      {% set pastDayHtml %}
      <h2 class="govuk-heading-l">Past day</h2>
      {{ govukTable({
      head: [
      {
      text: "Case manager"
      },
      {
      text: "Cases opened"
      },
      {
      text: "Cases closed"
      }
      ],
      rows: [
      [
      {
      text: "David Francis"
      },
      {
      text: "3"
      },
      {
      text: "0"
      }
      ],
      [
      {
      text: "Paul Farmer"
      },
      {
      text: "1"
      },
      {
      text: "0"
      }
      ],
      [
      {
      text: "Rita Patel"
      },
      {
      text: "2"
      },
      {
      text: "0"
      }
      ]
      ]
      }) }}
      {% endset -%}

      {% set pastWeekHtml %}
      <h2 class="govuk-heading-l">Past week</h2>
      {{ govukTable({
      head: [
      {
      text: "Case manager"
      },
      {
      text: "Cases opened"
      },
      {
      text: "Cases closed"
      }
      ],
      rows: [
      [
      {
      text: "David Francis"
      },
      {
      text: "24"
      },
      {
      text: "18"
      }
      ],
      [
      {
      text: "Paul Farmer"
      },
      {
      text: "16"
      },
      {
      text: "20"
      }
      ],
      [
      {
      text: "Rita Patel"
      },
      {
      text: "24"
      },
      {
      text: "27"
      }
      ]
      ]
      }) }}
      {% endset -%}

      {% set pastMonthHtml %}
      <h2 class="govuk-heading-l">Past month</h2>
      {{ govukTable({
      head: [
      {
      text: "Case manager"
      },
      {
      text: "Cases opened"
      },
      {
      text: "Cases closed"
      }
      ],
      rows: [
      [
      {
      text: "David Francis"
      },
      {
      text: "98"
      },
      {
      text: "95"
      }
      ],
      [
      {
      text: "Paul Farmer"
      },
      {
      text: "122"
      },
      {
      text: "131"
      }
      ],
      [
      {
      text: "Rita Patel"
      },
      {
      text: "126"
      },
      {
      text: "142"
      }
      ]
      ]
      }) }}
      {% endset -%}

      {% set pastYearHtml %}
      <h2 class="govuk-heading-l">Past year</h2>
      {{ govukTable({
      head: [
      {
      text: "Case manager"
      },
      {
      text: "Cases opened"
      },
      {
      text: "Cases closed"
      }
      ],
      rows: [
      [
      {
      text: "David Francis"
      },
      {
      text: "1380"
      },
      {
      text: "1472"
      }
      ],
      [
      {
      text: "Paul Farmer"
      },
      {
      text: "1129"
      },
      {
      text: "1083"
      }
      ],
      [
      {
      text: "Rita Patel"
      },
      {
      text: "1539"
      },
      {
      text: "1265"
      }
      ]
      ]
      }) }}
      {% endset -%}

      {{ govukTabs({
      items: [
      {
      label: "Past day",
      id: "past-day",
      panel: {
      html: pastDayHtml
      }
      },
      {
      label: "Past week",
      id: "past-week",
      panel: {
      html: pastWeekHtml
      }
      },
      {
      label: "Past month",
      id: "past-month",
      panel: {
      html: pastMonthHtml
      }
      },
      {
      label: "Past year",
      id: "past-year",
      panel: {
      html: pastYearHtml
      }
      }
      ]
      }) }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Application </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Joshua Wessel
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "Urgent",
            classes: "govuk-tag--red"
            })}}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Rachel Silver
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "New",
            classes: "govuk-tag--blue"
            })}}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Laura Frith
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "New",
            classes: "govuk-tag--blue"
            })}}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Paul French
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "New",
            classes: "govuk-tag--blue"
            })}}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Jesse Smith
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "New",
            classes: "govuk-tag--blue"
            })}}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Rachael Pepper
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "Finished",
            classes: "govuk-tag--green"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            Emma Tennant
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
            text: "Waiting on",
            classes: "govuk-tag--yellow"
            })}}
          </td>
        </tr>
        </tbody>
      </table>

      {{ govukAccordion({
      id: "accordion-with-summary-sections",
      items: [
      {
      heading: {
      text: "Understanding agile project management"
      },
      summary: {
      text: "Introductions, methods, core features."
      },
      content: {
      html:
      '<ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Agile and government services: an introduction</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Agile methods: an introduction</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Core principles of agile</a>
      </li>
    </ul>'
      }
      },
      {
      heading: {
      text: "Working with agile methods"
      },
      summary: {
      text: "Workspaces, tools and techniques, user stories, planning."
      },
      content: {
      html:
      '<ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Creating an agile working environment</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Agile tools and techniques</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Set up a team wall</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Writing user stories</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Planning in agile</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Deciding on priorities</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Developing a roadmap</a>
      </li>
    </ul>'
      }
      }
      ]
      }) }}

      {{ govukWarningText({
      text: "You can be fined up to £5,000 if you do not register.",
      iconFallbackText: "Warning"
      }) }}

      {{ govukPanel({
      titleText: "Application complete",
      html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h1 class="govuk-heading-l">NHS design system components</h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Get your medical records
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You can see your GP records by:</p>
          <ul>
            <li>asking for them at your GP surgery </li>
            <li>going online to see them (if you have signed up for <a href="/using-the-nhs/nhs-services/gps/gp-online-services/">GP online services</a>) </li>
          </ul>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!--      <div class="nhsuk-warning-callout">-->
<!--        <h3 class="nhsuk-warning-callout__label">-->
<!--          Important<span class="nhsuk-u-visually-hidden">:</span>-->
<!--        </h3>-->
<!--        <p>For safety, tell your doctor or pharmacist if you're taking any other medicines, including herbal medicines, vitamins or supplements.</p>-->
<!--      </div>-->

<!--      <hr class="govuk-section-break govuk-section-break&#45;&#45;m govuk-section-break&#45;&#45;visible">-->

<!--      <div class="nhsuk-card nhsuk-card&#45;&#45;care nhsuk-card&#45;&#45;care&#45;&#45;non-urgent">-->
<!--        <div class="nhsuk-card&#45;&#45;care__heading-container">-->
<!--          <h2 class="nhsuk-card&#45;&#45;care__heading">-->
<!--            <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>Speak to a GP if:</span>-->
<!--          </h2>-->
<!--          <span class="nhsuk-card&#45;&#45;care__arrow" aria-hidden="true"></span>-->
<!--        </div>-->

<!--        <div class="nhsuk-card__content">-->

<!--          <ul>-->
<!--            <li>you're not sure it's chickenpox</li>-->
<!--            <li>the skin around the blisters is red, hot or painful (signs of infection)</li>-->
<!--            <li>your child is <a href="">dehydrated</a></li>-->
<!--            <li>you're concerned about your child or they get worse</li>-->
<!--          </ul>-->
<!--          <p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>-->

<!--        </div>-->
<!--      </div>-->

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Find a minor injuries unit</span>
        </a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one">Level one</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">Level two</a></li>

            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two/level-three">Level three</a></li>

          </ol>
          <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">
              <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
              Level three
            </a>
          </p>
        </div>
      </nav>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <ul class="govuk-grid-row nhsuk-card-group">

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--topic--green nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#00594C" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--topic--light-green nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#CCEFE9" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--topic--mint-green nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#66CEBE" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--topic--orange nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#FAE3CC" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--topic--red nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#8B2346" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--topic nhsuk-card--topic--grey nhsuk-card--clickable">
            <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#">Exercise</a>
              </h2>
              <p class="nhsuk-card__description">Description</p>
              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#E5EEED" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

    </ul>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ul class="govuk-grid-row nhsuk-card-group">

        <li class="govuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="personal-name">Create a new advance decision</a>
              </h2>
              <p class="nhsuk-card__description">Decide when you want to refuse treatment, if you lose mental
                capacity in the future</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="statement/personal-name">Create a new advance statement</a>
              </h2>
              <p class="nhsuk-card__description">Describe your wishes, feelings, beliefs and values about how you
                are cared for, if you lose mental capacity in the future</p>
            </div>
          </div>
        </li>

      </ul>


      <ul class="govuk-grid-row nhsuk-card-group">

        <li class="govuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content nhsuk-card__content--primary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="personal-name">Create a new advance decision</a>
              </h2>
              <p class="nhsuk-card__description">Decide when you want to refuse treatment, if you lose mental
                capacity in the future</p>

              <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
                <circle cx="13.333" cy="13.333" r="13.333" fill="" />
                <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
                  <path d="M15.438 13l-3.771 3.771" />
                  <path data-name="Path" d="M11.667 9.229L15.438 13" />
                </g>
              </svg>
            </div>
          </div>
        </li>

      </ul>


      <ul class="govuk-grid-row nhsuk-card-group">

        <li class="govuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="personal-name">Card title</a>
              </h2>
              <p class="nhsuk-card__description">Optional card description</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
            <div class="nhsuk-card__content nhsuk-card__content--secondary">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="statement/personal-name">Card title</a>
              </h2>
              <p class="nhsuk-card__description">Optional card description</p>
            </div>
          </div>
        </li>

      </ul>


      <ul class="govuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h5 class="nhsuk-card__heading nhsuk-heading-xs">
                <a class="nhsuk-card__link" href="#">Order a repeat prescription</a>
              </h5>

            </div>
          </div>

        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              <h5 class="nhsuk-card__heading nhsuk-heading-xs">Order a repeat prescription</h5>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--inverse">
            <div class="nhsuk-card__content">
              <h5 class="nhsuk-card__heading nhsuk-heading-xs">Order a repeat prescription</h5>
            </div>
          </div>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">What is AMD?</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/symptoms/">Symptoms</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/getting-diagnosed/">Getting diagnosed</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/treatment/">Treatments</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="https://www.nhs.uk/conditions/age-related-macular-degeneration-amd/living-with-amd/">Living with AMD</a>
          </li>
        </ol>
      </nav>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Treatments</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">Symptoms</span>
              <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Primary Button
      </button>

      <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
        Secondary
      </button>

      <button class="nhsuk-button nhsuk-button--reverse" data-module="nhsuk-button" type="submit">
        Inversed
      </button>

      <button class="nhsuk-button nhsuk-button--reverse" data-module="nhsuk-button" type="submit" disabled>
        Disabled
      </button>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Do</h3>
        <ul class="nhsuk-list nhsuk-list--tick" role="list">
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
            </svg>
            cover blisters that are likely to burst with a soft plaster or dressing
          </li>
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
            </svg>
            wash your hands before touching a burst blister
          </li>
          <li>
            <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
            </svg>
            allow the fluid in a burst blister to drain before covering it with a plaster or dressing
          </li>
        </ul>
      </div>

      <div class="nhsuk-do-dont-list">
        <h3 class="nhsuk-do-dont-list__label">Don&#39;t</h3>
        <ul class="nhsuk-list nhsuk-list--cross" role="list">
          <li>
            <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
              <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
              <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
            </svg>
            do not burst a blister yourself
          </li>
          <li>
            <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
              <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
              <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
            </svg>
            do not peel the skin off a burst blister
          </li>
          <li>
            <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
              <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
              <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
            </svg>
            do not pick at the edges of the remaining skin
          </li>
          <li>
            <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
              <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
              <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z" fill="#d5281b"></path>
            </svg>
            do not wear the shoes or use the equipment that caused your blister until it heals
          </li>
        </ul>
      </div>

    </div>
  </div>

{% endblock %}
